

/* General */
body{
    font-family: 'News Cycle', sans-serif;
}

ul{
    list-style-type: none;

}

.main-container{
    height: 100vh;
    min-height: 400px;
    width: 100%;
}

/* Home section */
.home-btns{

    width: 100%;
    align-content: center;
    top: 20%;
    position: relative;
}
.btn-default{
    font-family: 'News Cycle', sans-serif;
    background: none;
    display: block;
    border: none;
    transition: 0.2s ease;
    cursor: pointer;
    font-weight: 700;
    margin: auto;
    margin-top: 2%;
    border-bottom: 2px solid #35a3f2;
}

.btn-default:hover{
    border-bottom: 2px solid #a8cddd;
    color: #a8cddd;
}



/* Book section */


.book-container{
    height: 100%;
    width: 100%;
}

.go-back{
    color: darkred;
    z-index: -1;

}

.cover-div{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.book-ul{
    width: 100%;
    height: 100%;
}
    .book-ul-title{
        font-family: 'News Cycle', sans-serif;
        color: #223759;


    }

    .book-li-wrapper{
font-family: 'News Cycle', sans-serif;
    font-weight: 700;
        display: flex;
        flex-direction: row;
        height: 30%;
        list-style-type: none;
        border-bottom: 1px solid lightgrey;
    }
        .book-li-car-properties{

            heigth: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            padding-top: 2%;
        }
        .img-div{
            height: 30%;
            width: 30%;

        }
            .img-div img{
                max-height: 200%;
                max-width: 200%;
                margin-top: 5%;
            }

.red-text{
    color: red;
}

.green-text{
    color: green;
}









/*Admin section*/



